# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Musat\Tema1Polinom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
